pipeline/pl_child_ingest.json
{
	"name": "pl_child_ingest",
	"properties": {
		"activities": [
			{
				"name": "Lookup_race_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_sink_data",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "race",
							"file_name": {
								"value": "@concat(pipeline().parameters.season_year,'_race.json')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_race_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_race_data').output.value[0].MRData.RaceTable.Races",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_result",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sourece_data",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@concat(pipeline().parameters.season_year,'/',item().round,'/results.json?limit=1000')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_data",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "result",
										"file_name": {
											"value": "@concat(pipeline().parameters.season_year,'_round_',item().round)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"season_year": {
				"type": "String"
			}
		},
		"variables": {
			"ec": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-05T13:07:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}